/* INIZIO CLASSI UTILITY BACKGROUND */
.db-bg-lightgray{
    background-color: #3a546d;
}

.db-bg-cabin{
    background-color: #ba4b63;
}

.db-bg-cake{
    background-color: #1ea4b6;
}

.db-bg-circus{
    background-color: #140f0f;
}

.db-bg-game{
    background-color: #1c83c1;
}

.db-bg-safe{
    background-color: #0e38b5;
}

.db-bg-submarine{
    background-color: #ccb2a3;
}
/* FINE CLASSI UTILITY BACKGROUND */
header, footer{
    background-color: var(--secondary-color);
}

main section:nth-child(odd){
    background-color: var(--primary-color);
}


.db-height-200{
    height: 200px;
}