.db-bg-lightgray{
    background-color: #3a546d;
}

header, footer{
    background-color: var(--secondary-color);
}

/* INIZIO CLASSI MAIN */
main section:nth-child(odd){
    background-color: var(--primary-color);
}

main section:nth-child(even){
    color: #333333;
    /* form-color:var(--secondary-color) */
}

#portfolio .col .content{
    border-radius: 1rem;
    overflow: hidden;
}
/* FINE CLASSI MAIN */
/* INIZIO CLASSI UTILITY */
.db-border-white{
    border: 1px solid white;
}

.db-img-invert{
    filter: invert(1);
}

.db-height-200{
    height: 200px;
}
/* FINE CLASSI UTILITY */